/* Définition des variables globales */
:root {
    --primary-color: #8B0000;
    --secondary-color: #B22222;
    --primary-color-light: #fff;
    --secondary-color-light: #f4f4f4;
    --background-nav-color: #333;
}
/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: var(--secondary-color-light);
    padding: 0 20px;
}

/* En-tête */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--primary-color-light);
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    font-style: italic;
}

/* Style du lien pour le téléchargement du CV */
.hero a.download-cv {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--primary-color-light);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Navigation */
nav {
    background: var(--background-nav-color);
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--primary-color-light);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Sections */
.section {
    padding: 30px;
    margin-bottom: 20px;
    background: var(--primary-color-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section.bg-light {
    background: #f9f9f9;
}

.section h2 {
    color: var(--primary-color);
    font-size: 2em;
    margin-bottom: 20px;
}

/* Expériences */
.experience {
    margin-bottom: 20px;
}

.experience h3 {
    font-size: 1.5em;
    color: var(--background-nav-color);
}

.experience p {
    font-size: 1em;
    color: #555;
}

/* Contact */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    color: #666;
}